@import "./vendors/modern-normalize";
@import "./utils/variables";
@import "./base/fonts";
@import "./base/common";
@import "./base/container";
@import "./components/menu";
@import "./components/logo";
@import "./components/button";
@import "./components/card";
@import "./components/link";
@import "./components/tittle";
@import "./components/visually-hidden";
@import "./components/social-icons";
@import "./components/form";
@import "./layouts/portfolio";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/modal";
@import "./layouts/methods";
@import "./layouts/gallery";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";
