:root {
  --main-text-color: #757575;
  --background-text-color: #ffffff;
  --accent-color: #2196f3;
  --tittle-color: #212121;
  --background-color: #2f303a;
  --button-color: #212121;
  --button-background-color: #e5e5e5;
  --card-gap: 30px;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
