.button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  transition: color var(--animation), background-color var(--animation),
    box-shadow var(--animation);

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
  }

  &:focus,
  &:hover {
    color: var(--background-text-color);
    background-color: var(--accent-color);
    box-shadow: var(--box-shadow);
  }
}
.button__main {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--background-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  max-width: 200px;
  max-height: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 0;

  @media screen and (min-width: 480px) {
    width: 200px;
    height: 50px;
  }
}
.pointer {
  cursor: pointer;
}
