.card {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -45px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: wrap;
  }

  .item {
  }
}
.item {
  outline: 1px;
  transition: box-shadow var(--animation);
  --grid-item: 1;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    --grid-item: 1;
    width: 450px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 3;
    width: 370px;

    :nth-child(3n) {
    }
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
  &:focus-within {
    outline: 3px solid;
    box-shadow: var(--box-shadow);
  }
}
.card__content {
  padding: 20px 0 24px 20px;
  border: 1px solid #eee;
}
.card__text {
  margin-top: 10px;
}
.card__link {
  text-decoration: none;
  transition: color var(--animation);
  position: relative;
  transition: box-shadow var(--animation);

  &:focus {
    outline: 1px;
    box-shadow: var(--box-shadow);
  }
}
