.link {
  color: inherit;
  text-decoration: none;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.link__header {
  list-style: none;
  display: flex;
  align-items: center;
}
.link__current {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: var(--accent-color);

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background-color: var(--accent-color);
    border-radius: 4px;
  }
}
.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}
