.logo {
  display: block;
  left: 0;
}
.logo__1 {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo__2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
}
