.menu {
  display: flex;
}
.menu__link {
  margin-left: 50px;
}
.navigation {
}
.menu__button {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(0%);
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }

  :hover .icon__menu,
  :focus .icon__menu {
    fill: var(--accent-color);
  }

  .icon__cross {
    display: none;
  }

  .icon__menu {
    display: block;
    z-index: 5;
  }
}

.menu__button.is-open .icon__cross {
  display: block;
  z-index: 4;
  position: relative;
}

.menu__button.is-open .icon__menu {
  display: none;
}

.menu__button.is-open .logo {
  display: none;
}
:hover .icon__menu,
:focus .icon__menu {
  fill: var(--accent-color);
}
:hover .icon__cross,
:focus .icon__cross {
  fill: var(--accent-color);
}
.icon__cross {
  position: relative;
  z-index: 4;
}
.menu__overlay {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
  }
}
.menu__tel {
  display: block;
  margin-right: 0;

  @media screen and (min-width: 768px), (max-width: 1199px) {
    margin-right: 0;
    margin-left: 88px;
    margin-top: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: 30px;
    justify-content: right;
    margin-left: 120px;
    margin-top: 15px;
  }
}
.menu__tel .contacts__link {
  @media screen and (min-width: 768px), (max-width: 1199px) {
    margin-bottom: 10px;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.menu__button1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;

  & :hover,
  & :focus {
    fill: #2196f3;
  }
}
.menu__mail1 {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
