.menu {
  display: flex;

  @media screen and (min-width: 768px) {
    margin-left: -50px;
  }
}
.menu__link {
  margin-left: 50px;
}
.navigation {
  display: flex;
  position: relative;
  align-items: center;

  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.menu__button {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: translateX(0%);
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }

  :hover .icon__menu,
  :focus .icon__menu {
    fill: var(--accent-color);
  }

  .icon__cross {
    display: none;
  }

  .icon__menu {
    display: block;
    z-index: 5;
  }
}

.menu__button.is-open .icon__cross {
  display: block;
  z-index: 0;
  position: relative;
}

.menu__button.is-open .icon__menu {
  display: none;
}

.menu__button.is-open .logo {
  display: none;
}
:hover .icon__menu,
:focus .icon__menu {
  fill: var(--accent-color);
}
:hover .icon__cross,
:focus .icon__cross {
  fill: #fff;
}
.icon__cross {
  position: relative;
  z-index: 0;
}
.menu__overlay {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.menu__tel {
  display: block;
  margin-right: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 21px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    margin-top: 32px;
  }
}
.menu__tel .contacts__link {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
  }

  @media screen and (min-width: 1200px) {
    font-weight: 500;
    font-size: 14px;
  }
}
.menu__button1 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  border: none;

  & :hover,
  & :focus {
    fill: #2196f3;
  }
}
.menu__mail1 {
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}
