.section {
  padding-bottom: 94px;
}
.section__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.section {
  padding-bottom: 94px;
}
.section__methods {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__background {
  --tittle-color: var(--section__background-text-color);
}
