.section {
  padding-bottom: 94px;
}
.section__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--tittle-color);
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
.section__methods {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__background {
  --tittle-color: var(--background-text-color);
  background-color: var(--background-color);
  max-width: 100%;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
