.clients {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  margin-bottom: -30px;

  @media screen and (min-width: 480px) {
    margin-right: -30px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    margin-bottom: 0;
  }
}
.clients__icons {
  display: block;
  justify-content: center;
  align-items: center;
  --grid-item: 2;
  width: 210px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--animation);

  @media screen and (min-width: 480px) {
    width: 210px;
    margin-right: 30px;
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    --grid-item: 3;
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .icon {
    display: block;
    padding: 0;
    fill: #afb1b8;
    transition: fill var(--animation);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}
.clients__link {
  outline: px solid #afb1b8;
  max-width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;

  @media screen and (min-width: 480px) {
    width: 210px;
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:hover .icon,
  &:focus .icon {
    fill: var(--accent-color);
  }
}
.clients__tittle {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--button-color);
  text-align: center;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
