.footer {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.footer__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--section__background-text-color);
}
.footer__address {
  color: var(--section__background-text-color);
  margin-top: 20px;
}
.footer__item {
  margin-right: 70px;
}
.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-icons {
  display: inline-flex;
  padding-right: -10px;
}
& .icon {
  width: 20px;
  height: 20px;
  fill: var(--section__background-text-color);
  transition: fill var(--animation);
}
.footer-icons__tittle {
  font-weight: 700;
  line-height: 1.14;
  color: var(--section__background-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--animation);
}
&:hover,
&:focus {
  background-color: var(--accent-color);
}
&:hover .icon,
&:focus .icon {
  fill: var(--section__background-text-color);
}
.footer-icons__item {
  margin-right: 10px;
}

.subscribe {
  display: flex;
  width: 570px;
  margin-left: 93px;
  align-items: center;
  justify-content: right;
}
.subscribe__label {
  width: 358px;
  margin-left: px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
  text-align-last: left;
  color: var(--section__background-text-color);
  padding-bottom: 20px;
}
.subscribe__input {
  position: relative;
  padding: 15px 170px 16px 16px;
  transform: translateY(20px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(47, 48, 58, 1);
  color: var(--section__background-text-color);
}
&::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(117, 117, 117, 0.5);
  position: absolute;
}
.subscribe__button {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: left;
  background-color: var(--accent-color);
  color: var(--section__background-text-color);
  border-radius: 4px;
  border-color: var(--accent-color);
  transform: translateY(18px);
  cursor: pointer;
}
.subscribe__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  fill: var(--section__background-text-color);
  margin-left: 10px;
  margin-right: 13px;
}
