.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--tittle-color);
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
.header__container {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: start;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
  }
}
.header .menu {
  @media screen and (max-width: 767px) {
    margin-left: 88px;
  }
}
.header__logo {
  margin-right: 90px;
  margin-left: 0;

  @media screen and (max-width: 767px) {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0;
  }
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
}
.contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  .icon {
    width: 16px;
    height: 16px;
    stroke: inherit;
    margin-right: 10px;
    transition: fill var(--animation);
  }
  &:hover .icon,
  &:focus .icon {
    fill: var(--accent-color);
  }
}
