.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/mobile/background_mobx1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 480px) {
    width: 100%;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/mobile/background_mobx2.png);
    background-size: auto 400px;
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/tablet/background_tabx1.png);
    max-width: 1200px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/tablet/background_tabx2.png);
      background-size: 1200px auto;
      background-position: left top;
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/desktop/background.png);
    max-width: 1600px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/desktop/backgroundx2.png);
      background-size: auto 600px;
    }
  }
}
.hero {
  display: block;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__tittle {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  color: var(--background-text-color);
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
