.section__background {
  background-color: var(--section__background-color);
}
.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.hero {
  width: 55%;
  max-width: 700px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__tittle {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--section__background-text-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}
