.methods {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}
.methods__item {
  display: block;
  align-items: center;
  max-width: 450px;
  --grid-item: 1;

  @media screen and (min-width: 480px) {
    --grid-item: 1;
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    --grid-item: 2;
    width: 354px;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
    width: 270px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
.methods__attention {
  background-image: url(../img/icons/antenna.svg);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: block;
  content: "";
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.methods__task {
  background-image: url(../img/icons/clock.svg);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: block;
  content: "";
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.methods__planning {
  background-image: url(../img/icons/diagram.svg);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: block;
  content: "";
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.methods__technologies {
  background-image: url(../img/icons/astronaut.svg);
  box-sizing: border-box;
  margin-bottom: 30px;
  display: block;
  content: "";
  width: 100%;
  padding-left: auto;
  padding-right: auto;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.methods__tittle {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(33, 33, 33, 1);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.methods__description {
  @media screen and (min-width: 1200px) {
  }
}
.methods__card {
}
