.menu__container {
  display: block;
  position: fixed;
  flex-direction: column;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(355, 355, 355);
  text-align: start;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02;
  color: rgb(33, 33, 33);
  z-index: 5;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-left: 40px;
  padding-top: 48px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  &.is-open {
    @media screen and (max-width: 767px) {
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}
.menu__container.is-open .menu__button {
  position: fixed;
}
.menu__container .menu__button {
  top: 30px;
  right: 30px;

  @media screen and (min-width: 479px) {
    right: calc((100vw - 440px) / 2);
  }
}
.menu__container.is-open .logo__1 {
  display: none;
}
.menu__list {
  text-decoration: none;
  list-style-type: none;
}
.menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02;
  color: #757575;
  margin-top: 32px;

  @media screen and (min-width: 1200px) {
  }
}
.menu__contacts {
  margin-bottom: 64px;
  font-size: 34px;
  list-style-type: none;
  color: rgba(33, 150, 243, 1);
}
.menu__list1 {
  display: flex;
  margin-right: -20px;
}
.menu__social {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02;
  margin-right: 20px;
  text-decoration: none;
}
.menu__home {
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
}
.menu__page {
  margin-bottom: 32px;
}
