.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: var(--box-shadow);
  overflow: scroll;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--animation), visibility var(--animation);
}
.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 528px;
  border-radius: 4px;
  background-color: var(--background-text-color);
  box-shadow: var(--box-shadow);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  color: #000;
  background-color: var(--background-text-color);
  box-shadow: var(--box-shadow);
  background-size: contain;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: inline-block;
  cursor: pointer;

  .icon {
    fill: #000;
    justify-content: center;
    align-items: center;
    background-size: contain;
    display: block;
    padding: 0;
  }
  &:hover .icon {
    fill: var(--accent-color);
    transition: fill var(--animation);
  }
}
