.portfolio {
  --grid-item: 5;
  padding-left: auto;
  padding-right: auto;

  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.portfolio__tittle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--tittle-color);
  margin-bottom: 4px;
}
.portfolio__prodacts {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.portfolio__card {
  position: relative;
  outline: 1px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.portfolio__background {
  position: absolute;
  padding-bottom: -30px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--background-text-color);
  opacity: 0;
  transition: opacity var(--animation);
  transition: transform var(--animation);
  transform: translateY(0);

  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.portfolio__description {
  font-size: 18px;
  line-height: 1.55;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
}
.item:hover .portfolio__background {
  box-shadow: var(--box-shadow);
  animation-name: changeColor;
  animation-iteration-count: 1;
  animation-play-state: paused;
  opacity: 1;
  transform: translateY(-100%);
  transition: transform var(--animation);
}
@keyframes changeColor {
  0% {
    opacity: 1;
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-100%);
  }
}
.card__link:focus .portfolio__background {
  opacity: 1;
  transform: translateY(-100%);
  transition: transform var(--animation);
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: start;
  margin-bottom: -15px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-right: -8px;
  }
}
.grid-item {
  margin-right: 8px;
  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
  }
}
.grid__card {
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
