.team {
  background-color: var(--background-text-color);
  display: block;
  justify-content: center;
  margin-right: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.team__item {
  display: block;
  text-align: center;
  margin-right: 30px;
  box-shadow: var(--box-shadow);
  --grid-item: 1;
  max-width: 450px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    --grid-item: 2;
    max-width: 354px;
  }

  @media screen and (min-width: 1200px) {
    --grid-item: 4;
    max-width: 270px;
  }
}
.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--tittle-color);
  margin-bottom: 10px;
}
.team__position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-text-color);
  margin-bottom: 16px;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
